html {
    box-sizing: border-box;
    font-size: 10px; 
}

*, *:before, *:after {
    box-sizing: inherit;
}

.hidden {
    display: none;
}

.error-p {
    color: red;
}

.color-key-section li {
    border: 1px solid black;
}

/* Suboptimal */
.score-0 {
    background-color: white;
}

/* Good */
.score-1 {
    background-color: lightskyblue;
}

/* Optimal */
.score-2 {
    background-color: orange;
}

.name-row th{
    border: 1px solid black;
}