/* Globals */
html {
    box-sizing: border-box;
    font-size: 10px; 
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    border: 3px solid darkblue;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    max-width: 700px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    margin: 2rem 0;
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 3rem;
    color: darkblue;
}

h2 {
    font-size: 2rem;
    line-height: 2.4rem;
    color: orange;
}

h3 {
    font-size: 1.8rem;
    color: darkblue;
    margin-bottom: .5rem;
    text-decoration: underline;
}

ul, ol {
    margin: 0;
}

li {
    list-style: none;
    color: rgb(41, 39, 70);
    margin: .5rem 0;
}

input[type=checkbox] {
    height: 2rem;
    width: 2rem;
}

p {
    font-size: 2rem;
    margin: 2rem 0;
}

.hidden {
    display: none;
}

/* user-input-section */
.user-input-section {
    padding: 0 1rem;
}

.user-input-form {
    text-align: left;
    font-size: 1.6rem;
    max-width: 300px;
    margin: 1rem auto;
}

.user-input-form ul {
    padding-left: 50px;
}

.user-input-form li {
    padding: .2rem 0;
    font-weight: 500;
}

.user-input-form label {
    vertical-align: top;
}

.text-align-center {
    text-align: center;
}

.user-input-submit, .new-search-button {
    background-color: white;
    color: orange;
    font-size: 2rem;
    margin: 2rem 0 1rem;
    border: 3px solid darkblue;
    padding: 1rem;
    border-radius: 10px;
    font-weight: 700;
}

/* Status Ps */
.error-p {
    color: red;
}

.loading-p {
    color: orange;
}

/* main */
main {
    padding: 0 .5rem;
    font-size: 1.4rem;
}

main ul, main ol {
    padding: 0 1rem;
    color: rgb(41, 39, 70);
}

.score-section h3{
    color: orange;
}

.color-key-section > ul > li {
    border: 2px solid darkblue;
    padding: .5rem 0;
    width: 50%;
    display: inline-block;
}

/* Suboptimal */
.score-0 {
    background-color: white;
}

/* Good */
.score-1 {
    background-color: lightskyblue;
}

/* Optimal */
.score-2 {
    background-color: orange;
}

.overflow {
    overflow-x: auto;
}

.spots-table {
    border: 3px solid darkblue;
    margin: 0 auto 2rem;
    border-collapse: collapse;
}

th, td {
    border: 2px solid darkblue;
    padding: .5rem;
    text-align: center;
}

th {
    color: darkblue;
}

.name-tr th {
    color: white;
    background-color: darkblue;
    text-align: left;
}

/* Media Queries */
/* Tablet */
@media screen and (min-width: 768px) {
    body {
        margin: 1rem auto;
    }
    h1 {
        font-size: 3.4rem;
    }
    h2 {
        font-size: 2.4rem;
    }
    h3 {
        font-size: 2.2rem;
    }
    p {
        font-size: 2.2rem;
    }
    .user-input-form {
        font-size: 1.8rem;
    }
    .user-input-submit, .new-search-button {
        font-size: 2.2rem;
    }
    main {
        font-size: 1.6rem;
    }
}

/* Laptop */
@media screen and (min-width: 992px) {
    body {
        max-width: 800px;
    }
    h1, h2, h3 {
        margin: 3rem 0;
    }
    h1 {
        font-size: 3.6rem;
    }
    h2 {
        font-size: 2.6rem;
    }
    h3 {
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }
    p {
        font-size: 2.4rem;
    }
    .user-input-form {
        font-size: 2rem;
    }
    .user-input-submit, .new-search-button {
        font-size: 2.4rem;
    }
    main {
        font-size: 1.8rem;
    }
    .buoy-section li {
        margin: 1rem 0;
    }
    .score-section > ol, .color-key-section > ul {
        display: flex;
        justify-content: center;
    }
    .score-section > ol > li, .color-key-section > ul > li {
        margin: 0 1rem;
    }
    th, td {
        padding: 1rem;
    }
}

/* Desktop */
@media screen and (min-width: 1200px) {
    h1 {
        font-size: 3.8rem;
    }
    h2 {
        font-size: 2.8rem;
    }
    h3 {
        font-size: 2.6rem;
    }
    p {
        font-size: 2.6rem;
    }
    .user-input-form {
        font-size: 2.2rem;
    }
    .user-input-submit, .new-search-button {
        font-size: 2.6rem;
    }
    main {
        font-size: 2rem;
    }
}